	.textForm {
			border: 1px solid black;
			width: 16%;
			height: 300px;
			margin-left: 42%;
		}

		.findid {
			text-align: center;
			font-size: 2vmax;
		}

		span {
			font-size: 20px;
		}

		.findcontent {
			text-align: center;
			margin-top: 25%;
		}

		.pad {
			border: 1px solid black;
			margin-top: 30px;
			margin-left: 15%;
			width: 70%;
			background-color: rgb(128, 128, 128);
			color: white;
		}

		.text13 {
			color: gray;
			font-size: 14px;
		}