<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_protected}">


<head>
	<meta charset="utf-8">
	<!--장바구니 선택 기능-->
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link rel="shortcut icon" type="image/x-icon" href="../../resources/img/1694590687835.png">
	<link href="../../css/sidemenu.css" rel="stylesheet">
	<link href="../css/cart.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<title>
	장바구니
</title>
<body>

	<div layout:fragment="content">
		<div class="sidemenu">
			<ul>
				<li><a th:href="@{/public/usedList}">중고마켓</a></li>
				<li><a th:href="@{/protected/questionForm}">1:1문의</a></li>
				<li><a th:href="@{/protected/order}">주문조회</a></li>
			</ul>
			<ul>
				<li><a href="https://open.kakao.com/o/sdxxCZQf"><img class="kakao"
							th:src="@{/resources/img/kakao.PNG}"></a></li>
			</ul>
		</div>

		<div class="all-container">
			<section class="cart">
				<h2 class="title">장바구니</h2>
				<div class="cart_information">

					<!--장바구니 고려사항 ul-->
					<ul>
						<br>
						<li>Henly IV는 전부 무료배송입니다.</li>
						<li>가격, 옵션 등 정보가 변경된 경우 주문이 불가할 수 있습니다.</li>
						<li>오늘출발 상품은 판매자 설정 시점에 따라 오늘출발 여부가 변경될 수 있으니 주문 시 꼭 다시 확인해 주시기 바랍니다.</li>
					</ul>
				</div>
				<table class="cart_list">
					<thead>
						<!--테이블 목록-->
						<tr>
							<td><input type="checkbox" id="checkAll" onclick="checkAll()"></td>
							<td colspan="2">상품정보</td>
							<td></td>
							<td>주문관리</td>
							<td>상품금액</td>
							<td>배송비용</td>
						</tr>
					</thead>
					<tbody>
						<tr class="cart_list_detail" th:each="cartDetailDto, index:${cartDetailDtoList}">
							<td>
								<input type="checkbox" name="cartChkBox" th:value="${cartDetailDto.cartProductId}"
									th:id="'check_'+${cartDetailDto.cartProductId}">
							</td>
							<!--상품정보-->
							<td>
								<a th:href="@{'/public/product/'+${cartDetailDto.productId}}"><img class="imgg"
										th:src="${cartDetailDto.imgUrl}" alt="셔츠"></a>
							</td>
							<td>
								<a th:href="@{'/public/product/'+${cartDetailDto.productId}}"
									th:text="${cartDetailDto.name}" th:id="'name_'+${cartDetailDto.cartProductId}"></a>
								<!--<span class="cart_list_store"> 스마트스토어</span>-->
								<p th:text="'옵션:'+${cartDetailDto.color}+'/'+${cartDetailDto.size}">옵션:네이비/L</p>
								<span class="price" th:id="'price_' + ${cartDetailDto.cartProductId}"
									th:data-price="${cartDetailDto.price}" th:text="${cartDetailDto.price} +'원'"></span>
								<!-- <span style="text-decoration: line-through; color: lightgray;">59,000</span> -->
							</td>

							<!--회원할인-->
							<td class="cart_discount">
								<p></p>
							</td>
							<!--주문관리-->
							<td>
								<input type="number" name="count" th:id="'count_' + ${cartDetailDto.cartProductId}"
									th:value="${cartDetailDto.count}" min="1" onchange="changeCount(this)">
							</td>
							<!--상품금액-->
							<td>
								<span th:id="'totalPrice_' + ${cartDetailDto.cartProductId}" name="totalPrice"
									th:text="${cartDetailDto.price * cartDetailDto.count} + '원'"></span>
							</td>
							<!--배송비용-->
							<td>무료</td>
						</tr>
					</tbody>
					<tfoot>
						<td colspan="3">
							<button class="cart_list_optionbtn" onclick="deleteCartProductList()">선택상품 삭제</button>
						</td>
						<td></td>
						<td colspan="4">
							<span>
								<h2>총 주문금액 : <span id="orderTotalPrice">0원</span></h2>
							</span>
						</td>
					</tfoot>
				</table>

				<div class="cart_mainbtns">
					<button class="cart_orderbtn left" onClick="location.href='/'">쇼핑 계속하기</button>
					<button class="cart_orderbtn right" onClick="removeStock()">주문하기</button>
				</div>
			</section>

			<script th:inline="javascript">
                /*[# th:if="${user != null && user.email != null}"]*/
                var userEmail = /*[[${user.email}]]*/ null;
                var userName = /*[[${user.name}]]*/ null;
                var userPhone = /*[[${user.phone}]]*/ null;
                var userAddr = /*[[${user.addr}]]*/ null;
                /*[/]*/
            </script>


			<script>
				$(document).ready(function () {
					$("input[name=cartChkBox]").change(function () {
						getOrderTotalPrice();
					});

					var currentPosition = parseInt($(".sidemenu").css("top"));
					$(window).scroll(function () {
						var position = $(window).scrollTop();
						$(".sidemenu").stop().animate({ "top": position + currentPosition + "px" }, 600);
					});
				});

				
				function removeStock() {
					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");

					var url = "/protected/cart/orders/removeStock";

					var dataList = new Array();
					var paramData = new Object();

					$("input[name=cartChkBox]:checked").each(function () {
						var cartProductId = $(this).val();
						var cartProductStock = $("#count_" + cartProductId).val();
						var data = new Object();
						data["cartProductId"] = cartProductId;
						data["stock"] = cartProductStock;
						dataList.push(data);
					});

					paramData['cartRemoveDtoList'] = dataList;

					var param = JSON.stringify(paramData);

					$.ajax({
						url: url,
						type: "POST",
						contentType: "application/json",
						data: param,
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token);
						},
						dataType: "json",
						cache: false,
						success: function (result, status) {
							requestPay();
						},
						error: function (jqXHR, status, error) {
							if (jqXHR.status == '401') {
								alert('로그인 후 이용해주세요');
								location.href = '/public/login';
							} else {
								alert(jqXHR.responseJSON.message);
							}

						}
					});
				}

				var IMP = window.IMP;
                IMP.init("imp46787317");

				function requestPay() {
					var token = $("meta[name='_csrf']").attr("content");
                	var header = $("meta[name='_csrf_header']").attr("content");

					var totalamount = parseInt($("#orderTotalPrice").text().replace("원",""),10);

					var checkIndex = 0 ;
					var product_name;
					$("input[name=cartChkBox]:checked").each(function (index) {
						if(index === 0){
							var name = "name_"+$(this).val();
							product_name = $("#"+name).text();
						}
						else{
							checkIndex = index;
						}
					});
					if(checkIndex===0){

					}else{
						product_name = product_name + " 외 "+checkIndex + "건";
					}
					console.log(product_name);
					
					
                    IMP.request_pay({
                        pg: "kakaopay.TC0ONETIME",
                        pay_method: "card",
						name: product_name,
						amount: totalamount,				// 숫자 타입
                        buyer_email: userEmail,
                        buyer_name: userName,
                        buyer_tel: userPhone,
                        buyer_addr: userAddr,
                    }, function (rsp) { // callback
						console.log(rsp);
                        $.ajax({
                            type: 'POST',
                            url: '/verify/' + rsp.imp_uid,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader(header, token);
                            },
                        }).done(function (data) {
                            if (rsp.paid_amount === data.response.amount) {
                                orders();
                            } else {
                                alert("결제 실패");
                            }
                        });
                    });
                }

				function getOrderTotalPrice() {
					var orderTotalPrice = 0;
					$("input[name=cartChkBox]:checked").each(function () {
						var cartProductId = $(this).val();
						var price = $("#price_" + cartProductId).attr("data-price");
						var count = $("#count_" + cartProductId).val();
						orderTotalPrice += price * count;
					});

					$("#orderTotalPrice").html(orderTotalPrice + '원');
				}

				function changeCount(obj) {
					var count = obj.value;
					var cartProductId = obj.id.split('_')[1];
					var price = $("#price_" + cartProductId).data("price");
					var totalPrice = count * price;
					$("#totalPrice_" + cartProductId).html(totalPrice + "원");
					getOrderTotalPrice();
					updateCartProductCount(cartProductId, count);
				}

				function checkAll() {
					if ($("#checkAll").prop("checked")) {
						$("input[name=cartChkBox]").prop("checked", true);
					} else {
						$("input[name=cartChkBox]").prop("checked", false);
					}
					getOrderTotalPrice();
				}

				function updateCartProductCount(cartProductId, count) {

					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");

					var url = "/cartProduct/" + cartProductId + "?count=" + count;

					$.ajax({
						url: url,
						type: "PATCH",
						beforeSend: function (xhr) {
							/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
							xhr.setRequestHeader(header, token);
						},
						dataType: "json",
						cache: false,
						success: function (result, status) {
							console.log("cartProduct count update success");
						},
						error: function (jqXHR, status, error) {

							if (jqXHR.status == '401') {
								alert('로그인 후 이용해주세요');
								location.href = '/public/login';
							} else {
								alert(jqXHR.responseText);
							}

						}
					});
				}
				function deleteCartProductList() {
					$("input[name=cartChkBox]:checked").each(function () {
						deleteCartProduct($(this).val());
					});
				}
				function deleteCartProduct(obj) {
					var cartProductId = obj;
					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");

					var url = "/cartProduct/" + cartProductId;

					$.ajax({
						url: url,
						type: "DELETE",
						beforeSend: function (xhr) {
							/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
							xhr.setRequestHeader(header, token);
						},
						dataType: "json",
						cache: false,
						success: function (result, status) {
							location.href = '/protected/cart';
						},
						error: function (jqXHR, status, error) {

							if (jqXHR.status == '401') {
								alert('로그인 후 이용해주세요');
								location.href = '/public/login';
							} else {
								alert(jqXHR.responseJSON.message);
							}

						}
					});
				}

				function orders() {
					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");

					var url = "/protected/cart/orders";

					var dataList = new Array();
					var paramData = new Object();

					$("input[name=cartChkBox]:checked").each(function () {
						var cartProductId = $(this).val();
						var data = new Object();
						data["cartProductId"] = cartProductId;
						dataList.push(data);
					});

					paramData['cartOrderDtoList'] = dataList;

					var param = JSON.stringify(paramData);

					$.ajax({
						url: url,
						type: "POST",
						contentType: "application/json",
						data: param,
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token);
						},
						dataType: "json",
						cache: false,
						success: function (result, status) {
							alert("주문이 완료 되었습니다.");
							location.href = '/protected/order';
						},
						error: function (jqXHR, status, error) {

							if (jqXHR.status == '401') {
								alert('로그인 후 이용해주세요');
								location.href = '/public/login';
							} else {
								alert(jqXHR.responseJSON.message);
							}

						}
					});
				}

			</script>
		</div>
	</div>
</body>

</html>