<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout_protected}">
<head>
	<meta charset="utf-8">
    <title>mypage</title>
    
   <link href="../css/mypage.css" rel="stylesheet">

</head>
<body>
    <!-- 홈페이지 헤더부분 -->
	<div layout:fragment="content">
        <div class="body">
		<div>
			<span class="m-title" ><b>MY PAGE </b></span><span class="text" sec:authentication="name"></span>님의 마이페이지
			</div>
            <!-- 멤버십, 쿠폰, 주문배송조회 -->
            <div class = "all">
            <div class="userupdate">
                <div class="" onclick="location.href='userUpdateForm'">
                        회원정보변경
                </div>
                </div>
                  <div class="userorder">
                <div class="" sec:authorize="hasRole('ROLE_USER')" onclick="location.href='order'">
                        주문조회
                </div>
                </div>
                  <div class="coupon">
                <div class="" onclick="location.href='coupon'">
                        쿠폰
                </div>
                  </div>
                    <div class="adminorder">
                <div class="btn" sec:authorize="hasRole('ROLE_ADMIN')" onclick="location.href='../admin/order'">
                        주문조회
                </div>
                </div>
                </div>
                <div class="btn">
                        회원탈퇴
                </div>
                
                    <!-- 최근 본 상품 -->
            <p class="my-underline">최근 본 상품</p>
            <div class="row">
                <table>
                    <tr th:each="p:${plist}">
                        <a href="login.html"><img th:src="${p.img}"></a>
                        
                    </tr>
                </table>
            </div>

            <!-- 패션 맞춤 추천 -->
            <p class="my-underline">패션 맞춤 추천</p>


				
					
</div>
 <div class="usercart">
	 	<div>
			<span class="m-title" ><b>내가 담은 상품 </b></span><span></span>회원님께서 담은 상품을 확인해보세요!
			</div>
	     <div class="row">
                <table>
                    <tr th:each="p:${plist}">
                        <a href="login.html"><img th:src="${p.img}"></a>
                        
                    </tr>
                </table>
            </div>
       
<div class="cart-grid">
    <div class="cart-item" th:each="cartDetailDto, index:${cartDetailDtoList}">
		<a th:href="@{'/public/product/'+${cartDetailDto.cartProductId}}">
        <div>
            <img th:src="${cartDetailDto.imgUrl}" alt="셔츠">
        </div>
        </a>
        <a class="cartname" th:text="${cartDetailDto.name}"></a>
        
    </div>

</div>

<script>
const cartGrid = document.querySelector('.cart-grid');
const items = cartGrid.querySelectorAll('.cart-item');

if (items.length > 5) {
    items.forEach((item, index) => {
        if (index >= 5) {
            item.style.display = 'none';
        }
    });
}
</script>

<button class="button" onclick="location.href='cart'">
                        더보기
                </button>
                </a>
 
 </div>

        
        </div>
        







</body>
</html>