<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_protected}">

<head>
    <meta charset="utf-8">
   <title>
	마이페이지
</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="../../resources/img/1694590687835.png">
    <link href="../css/mypage.css" rel="stylesheet">


</head>

<body style="background-color: #f5f5f5;">
    <!-- 홈페이지 헤더부분 -->
    <div layout:fragment="content">
        <div class="sidemenu">
            <ul>
                <li><a th:href="@{/public/usedList}">중고마켓</a></li>
				<li><a th:href="@{/protected/questionForm}">1:1문의</a></li>
				<li><a th:href="@{/protected/order}">주문조회</a></li>

            </ul>
            <ul>
                <li><a href="https://open.kakao.com/o/sdxxCZQf"><img class="kakao"
                            th:src="@{/resources/img/kakao.PNG}"></a></li>
            </ul>
        </div>



        <script>

        </script>
        <div class="all-container">
            <div class="body">
                <div>
                    <span class="m-title"><b>MY PAGE </b></span><span class="text" sec:authentication="name"></span>님의
                    마이페이지
                </div>
                <!-- 멤버십, 쿠폰, 주문배송조회 -->
                <div class="all">
                    <div class="user-con">
                        <div class="userupdate" onclick="location.href='userUpdateForm'">
                            회원정보변경

                        </div>
                        <div class="userupdate" onclick="location.href='../protected/usedList'">
                            내 중고글 보기

                        </div>
                        <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                            <div class="userorder" sec:authorize="hasRole('ROLE_USER')" onclick="location.href='order'">
                                주문조회

                            </div>
                        </div>
                        <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                            <div class="userorder" sec:authorize="hasRole('ROLE_ADMIN')"
                                onclick="location.href='../admin/order'">
                                주문조회

                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="btn">
                        회원탈퇴
                </div>-->

                <div class="container1">
                  

                    <p class="my-underline">추천</p>
                    <div class="cart-grid">
                        <div class="cart-item" th:each="product, index:${productList}">
                            <a th:href="@{'/public/product/'+${product.id}}">
                                <div>
                                    <img class="imgg" th:src="${product.productImgList[0].imgUrl}" alt="셔츠">
                                </div>
                            </a>
                            <a class="cartname" th:text="${product.name}"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="usercart">
                <div>
                    <span class="m-title"><b>내가 담은 상품 </b></span><span></span>회원님께서 담은 상품을 확인해보세요!
                </div>
                <div class="row">
                    <table>
                        <tr th:each="p:${plist}">
                            <a href="login.html"><img th:src="${p.img}"></a>

                        </tr>
                    </table>
                </div>

                <div class="cart-grid">
                    <div class="cart-item" th:each="cartDetailDto, index:${cartDetailDtoList}">

                        <a th:href="@{'/public/product/'+${cartDetailDto.productId}}">
                            <div>
                                <img class="imgg" th:src="${cartDetailDto.imgUrl}" alt="셔츠">
                            </div>
                        </a>
                        <a class="cartname" th:text="${cartDetailDto.name}"></a>

                    </div>

                </div>

                <button class="button" onclick="location.href='cart'">
                    더보기
                </button>

                <script>
                    const cartGrid = document.querySelector('.cart-grid');
                    const items = cartGrid.querySelectorAll('.cart-item');

                    if (items.length > 5) {
                        items.forEach((item, index) => {
                            if (index >= 5) {
                                item.style.display = 'none';
                            }
                        });
                    };

                    $(document).ready(function () {
                        var currentPosition = parseInt($(".sidemenu").css("top"));
                        $(window).scroll(function () {
                            var position = $(window).scrollTop();
                            $(".sidemenu").stop().animate({ "top": position + currentPosition + "px" }, 600);
                        });
                    });

         
                </script>
            </div>
        </div>
    </div>
</body>

</html>