<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout_protected}">
<head>
	<meta charset="utf-8">
    <title>order</title>
    
    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
            text-align: center;
            table-layout: unset;
        }
        th, td {
            border: 1px solid #444444;
        }
        .product-img {
        max-width: 100px; /* 이미지의 최대 너비를 조절 */
        max-height: 100px; /* 이미지의 최대 높이를 조절 */
    }
    </style>

</head>
<body>
    <!-- 홈페이지 헤더부분 -->
	<div layout:fragment="content">
        <table>
			<tr>
				<th>#</th>
                <th>주문날짜</th>
                <th>상품이미지</th>
                <th>상품이름</th>
                <th>컬러</th>
				<th>사이즈</th>
                <th>갯수</th>
                <th>가격</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">유저</th>
			</tr>
			<tr th:each="order, index:${orders}">
                <input type="hidden" name="productImgIds" th:value="${order.id}">
                <td th:text="${index.index}">#</td>
                <td th:text="${#temporals.format(order.orderDate, 'dd-MM-yyyy HH:mm')}">주문날짜</td>
				
                
                
                <!-- 이미지를 따로 model에 productDtoList 를 추가해 넣음. 해당 인덱스번호 찾기위해 42번줄 index사용 -->
                
                <td>
                    <div th:each="products, status:${order.orderProducts}">
                        <img class="product-img" th:src="${productDtoList[index.index].productImgDtoList[0].imgUrl}" alt ="상품이미지">
                    </div>
                </td>
                
				<td>
                    <div th:each="products, status:${order.orderProducts}">
                        <span th:text="${products.product.name}">상품이름</span>
                    </div>
                </td>
                <td>
                    <div th:each="products, status:${order.orderProducts}">
                        <span th:text="${products.product.color}">컬러</span>
                    </div>
                </td>
                <td>
                    <div th:each="products, status:${order.orderProducts}">
                        <span th:text="${products.product.size}">사이즈</span>
                    </div>
                </td>
                <td>
                    <div th:each="products, status:${order.orderProducts}">
                        <span th:text="${products.count}">갯수</span>
                    </div>
                </td>
                <td>
                    <div th:each="products, status:${order.orderProducts}">
                        <span th:text="${products.orderPrice*products.count}">가격</span>
                    </div>
                </td>
                
                <td th:text="${order.user.username}" sec:authorize="hasRole('ROLE_ADMIN')">유저</td>
                
			</tr>
		</table>
        <!--
        <div th:each="order, status:${orders}">
            <input type="hidden" name="productImgIds" th:value="${order.id}">
            <span th:text="${order.orderDate}">주문 일</span>
            <div th:each="products, status:${order.orderProducts}">
                <span th:text="${products.product.name}">주문 상품</span>
            </div>
        </div>-->
    </div>

</body>
</html>