.header{
  display: block;
  text-align:center;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo{
  left:50%;
}
.logo img {
  max-height: 50px; /* 로고 이미지의 높이를 조절해보세요 */
  max-width: 100%;
}
.pad {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 15px;
}

.pad:last-child {
  margin-right: 0; /* 마지막 요소의 오른쪽 여백 제거 */
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.sidenav a:hover {
  background-color: #333; /* 배경색 변경 */
  color: #fff; /* 글자색 변경 */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.membership-info {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 400px;
}
.pad-container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .nav {
      flex-direction: column;
      align-items: center;
  }

  .sidenav {
      padding-top: 80px;
  }

  .logo img {
      max-height: 40px;
  }
}