<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_protected}">

<head>
	<link href="../../css/sidemenu.css" rel="stylesheet">
	<link href="../css/faqForm.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="../../resources/img/1694590687835.png">
</head>
<meta charset="UTF-8">

<body>

	<div layout:fragment="content">
		<div class="all-container">
			<div class="sidemenu">
				<ul>
					<li><a th:href="@{/public/usedList}">중고마켓</a></li>
					<li><a th:href="@{/protected/questionForm}">1:1문의</a></li>
					<li><a th:href="@{/protected/order}" sec:authorize="hasRole('ROLE_USER')">주문조회</a></li>
					<li><a th:href="@{/admin/order}" sec:authorize="hasRole('ROLE_ADMIN')">주문조회</a></li>

				</ul>
				<ul>
					<li><a href="https://open.kakao.com/o/sdxxCZQf"><img class="kakao"
								th:src="@{/resources/img/kakao.PNG}"></a></li>
				</ul>
			</div>
			<nav>
				<a th:href="@{/public/faq}">Q/A</a>
				<a href="#">문의하기</a>
				<a href="change">반품 및 교환</a>
			</nav>
			<div class="container">

				<h2>자주하는질문 등록</h2>
				<p>등록할 내용을 적어주세요</p>

				<form role="form" method="post" th:object="${faq}">
					<input type="hidden" th:field="*{id}">
					<label for="message">제목</label>
					<input type="text" id="title" th:field="*{title}" required>

					<label for="message">내용</label>
					<textarea id="content" th:field="*{content}" rows="4" required></textarea>

					<button type="submit">등록</button>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</form>
			</div>
		</div>
	</div>
	</div>


</body>

</html>