<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_public}">

<head>
	<meta charset="utf-8">
	<title>q/a</title>
<link href="../css/questionList.css" rel="stylesheet">
	<!-- JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	

	<style>
		.accordion {
            cursor: pointer;
            padding: 18px;
            border: none;
            background-color: #f1f1f1;
            text-align: left;
            outline: none;
            transition: 0.4s;
        }
	.active, .accordion:hover {
            background-color: #ddd;
        }

		.panel {
            display: none;
            background-color: white;
            overflow: hidden;
        }
		.nav {
			display: flex;
			flex-direction: row;
			padding: 10px;
		}

		.logo {
			left: 50%;
		}

		.pad {
			padding: 10px;
		}

	

		

		#check-btn {
			display: none;
		}

		#check-btn:checked~.menubars {
			display: block;
		}

		.menubars {
			display: none;
		}
		
	</style>





</head>

<body style="background-color: #f5f5f5;">
	<!-- 홈페이지 헤더부분 -->
	<div layout:fragment="content">
	
		
			<div class="header-container">
			<div class="header-left">
				<p class="customer">
					<b>Customer Center</b>
					</p>
				<p class="number"><b>☎ 1588-0909</b>
				<p class="date">
				<b>평일</b> 오전 10:00 ~ 오후 06:00<br>
				<b>점심</b> 오후 12:00 ~ 오후 01:00<br>
				<b>휴무</b> 토 / 일 / 공휴일은 휴무</p>
			</div>
			<div class="header-right">
				<p class="membership">
					<b>MemberShip</b>
				</p>
				<p class="track-num">
					<mark style="background-color: aliceblue;">다이아</mark>
					<mark style="background-color: aliceblue;">에메랄드</mark>
					<mark style="background-color: aliceblue;">플레티넘</mark><br>
					<mark style="background-color: aliceblue;">골드</mark>
					<mark style="background-color: aliceblue;">실버</mark>

					
				</p>
				
				<p class="content1">
					<p>등급 별로 할인률은 상이하나 <br>저희 HENRY IV는 회원 모두 무료 배송입니다.</p>
				</p>

			</div>
			<div class="header-right1">
			<p class = "question">
			<b>자주하는 질문</b></p>
			<p class="content1">
					<p>FAQ를 참고하신 후 문의를 주시면<br>
보다 빠른 답변을 찾으실 수 있습니다.</p>
				</p>
					<button class="button"  onclick="location.href='/public/faqList'">자세히 보기</button>
			</div>
		</div>
<div class = "sidebar1">
	<div class ="time">
	
	</div>
	<h2 class="titlee" >문의 게시판</h2>
	<div class="subsidebar">
<ul>

	<div class="subsidebar">
  <li><a href="/public/faqList">FAQ</a></li>
  <li><a href="/public/questionList">문의 글 보기</a></li>
  <li><a href="/protected/questionForm">1:1 문의 글 쓰기</a></li>

</ul>
</div> 
</div>
		<!--
		<div>
			<tr th:each="faq, index : ${faqList}">
				<input id="check-btn" type="checkbox" />

				<div>
					<label for="check-btn" td th:text="${faq.title}"></label></td>
				</div>
				<div>
					<ul class="menubars" td th:text="${faq.content}">

					</ul>
			</tr>
		</div>
		-->
		<div class="accordion" id="accordionPanelsStayOpenExample" th:each="faq, status:${faqList}">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" th:text="${faq.title}" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#panelsStayOpen-collapse'+${status.index}" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne"></button>
                </h2>
                <div th:id="'panelsStayOpen-collapse'+${status.index}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p style="white-space:pre;" th:text="${faq.content}"></p>
                    </div>
                </div>
            </div>
        </div>

		<button onclick="location.href='/public/faqForm'" sec:authorize="hasRole('ROLE_ADMIN')">글쓰기</button>

		<script>
            // JavaScript를 사용하여 아코디언 동작을 구현합니다.
            // 클릭 시 해당 버튼의 패널을 보여주거나 감춥니다.
            
            // 버튼들을 선택합니다.
            const accButtons = document.querySelectorAll('.accordion');
            
            // 각 버튼에 클릭 이벤트를 추가합니다.
            accButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // 클릭된 버튼의 다음 요소인 패널을 선택합니다.
                    const panel = this.nextElementSibling;
                    
                    // 패널이 보이는지 여부를 확인하여 상태를 토글합니다.
                    if (panel.style.display === 'block') {
                        panel.style.display = 'none';
                    } else {
                        panel.style.display = 'block';
                    }
                });
            });
        </script>


</body>

</html>