<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout_public}">
<head>
	<meta charset="utf-8">
    <title>Signin Template · Bootstrap</title>
	<link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
	<div layout:fragment="content">
		<form class="form-signin" th:action="@{/public/login}" method="post">
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<div th:if="${param.error}" class="alert alert-danger" role="alert">Invalid username and password.</div>
			<div th:if="${param.logout}" onclick="location.href='/public/productList'" class="alert alert-primary" role="alert">You have been logged out.</div>
			<label for="username" class="sr-only">Username</label>
				<input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>
				<br>
			<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
		
	</div>
</body>
</html>