<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout_public}">
<head>
	<meta charset="utf-8">
    <title>productList</title>
    <style>
        .row{
            display: flex;
            flex-direction: row;
        }
        .col{
            display: flex;
            flex-direction: column;
        }
    </style>

</head>
<body>
    <div layout:fragment="content">
    
        옷 목록 페이지
        
        <button sec:authorize="hasRole('ROLE_ADMIN')" onclick="location.href='/admin/product/new'">상품등록</button>
        <br>
        --- 상품 리스트 ---
        <div class="col" th:each="product:${products}">
            <div th:each="p:${product}" class="row" >
                <p th:text="${p.name}">옷 이름</p>&nbsp;
                <p th:text="${p.price}">옷 가격</p>&nbsp;
                <p th:text="${p.category}">옷 카테고리</p>&nbsp;
                <p th:text="${p.size}">옷 사이즈</p>&nbsp;
                <p th:text="${p.stock}">옷 재고</p>&nbsp;
            </div>
        </div>


        --- 상품 이미지 ---
        <div class="col" th:each="productImg:${productImgs}">
            <div th:if="${#strings.isEmpty(productImg.imgUrl)}">
            </div>
            <div th:unless="${#strings.isEmpty(productImg.imgUrl)}">
                <a th:href="'/public/productList/'+${productImg.product.id}">
                    <img th:src="${productImg.imgUrl}">
                </a>
            </div>
        </div>
    </div>
    

</body>
</html>