<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout_public}">
<head>
	<meta charset="UTF-8">
	<link href="../css/register.css" rel="stylesheet">
	<meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<style>
		.doubleChk{
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(95, 102, 149);
            border-radius: 6px;
            cursor: pointer;
            
        }

	</style>
</head>


<body>
<div layout:fragment="content">
	<form class="form-register" th:action="@{/public/register}" method="post" th:object="${user}" onsubmit="return validateForm()">
		<table align=center>
			<tr><td colspan=2 align=center height=40><b>회원가입</b><td></tr>
			<div class="textForm">
				<tr>
					<td align=right>아이디&nbsp;</td> 
					<td><input type="text" id="username" th:field="*{username}" class="idform-control" placeholder="username" required autofocus></td>
				</tr>
				<tr>
					<td align=right>이메일&nbsp;</td> 
					<td><input type="email" id="sm_email" th:field="*{email}" class="emailform-control" placeholder="Email" required></td>
					<td align=right></td>
					<td><button type="button" id="myButton">인증번호 보내기</button></td>
				</tr>
				<tr>
					<td align=right></td>
					<td><input type="text" id="sm_email2" class="verificationform-control" placeholder="인증 번호" required></td>
					<td align=right></td>
					<td><button type="button" id="emailChk2">이메일 인증</button></td>
					<input type="hidden" id="emailDoubleChk"/>
				</tr>
				<tr>
					<td align=right>패스워드&nbsp;</td> 
					<td><input type="password"  id="inputPassword" th:field="*{password}" class="pwform-control" placeholder="Password" required></td>
				</tr>
				<tr>
					<td align=right>패스워드(확인)&nbsp;</td>
					<td><input type="password" required id="inputPassword2" class="pwform-control" onchange="check_pw()">&nbsp:<span id="check"></span></td>
				</tr>
				<tr>
					<td align=right>핸드폰번호&nbsp;</td> 
					<td><input type="tel"  id="phone" th:field="*{phone}" class="pform-control" placeholder="Phone" required></td>
				</tr>
				<tr>
					<td align=right>성별&nbsp;</td>
					<td>
						<label for="male">남자</label>
						<input type="radio" id="male" th:field="*{gender}" value="MALE">
						<label for="female">여자</label>
						<input type="radio" id="female" th:field="*{gender}" value="FEMALE">
					</td>
				</tr>
			</div>
			<tr>
				<td colspan=2 align=center height=50>
					<button class="sub"type="submit">회원가입하기</button>
				</td>
			</tr>
		</table>
	</form>
	<script>
		function check_pw(){
			if(document.getElementById('inputPassword').value !='' && document.getElementById('inputPassword2').value!=''){
				if(document.getElementById('inputPassword').value==document.getElementById('inputPassword2').value){
					document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
					document.getElementById('check').style.color='blue';
				}
				else{
					document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
					document.getElementById('check').style.color='red';
				}
			}
		};

		var code = "1";
		document.getElementById('myButton').addEventListener('click', function(event) {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			$.ajax({
				url:"/mail",
				type:"POST",
				beforeSend : function(xhr){
						/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
						xhr.setRequestHeader(header, token);
					},
				dataType : "json",
				data : {"mail" : $("#sm_email").val()},
				success:function(data){
					alert("인증번호 발송");
					code = data;
				}
			});
			event.preventDefault();
		});





		//이메일 인증번호 대조
		document.getElementById('emailChk2').addEventListener('click', function(event){
			if($("#sm_email2").val() == code){
				alert("인증번호가 일치합니다");
				$(".successEmailChk").text("인증번호가 일치합니다.");
				$(".successEmailChk").css("color","green");
				$("#emailDoubleChk").val("true");
				$("#sm_email2").attr("disabled",true);
				//$("#sm_email").attr("disabled",true);
			}else{
				alert("인증번호가 일치하지 않습니다. 확인해주시기 바랍니다.");
				$(".successEmailChk").text("인증번호가 일치하지 않습니다. 확인해주시기 바랍니다.");
				$(".successEmailChk").css("color","red");
				$("#emailDoubleChk").val("false");
				$("#sm_email2").attr("autofocus",true);
			}
		});

		function validateForm() {
			// 이메일 인증이 완료되었는지 확인
			var emailDoubleChk = $("#emailDoubleChk").val();
			
			if (emailDoubleChk === "true") {
				// 이메일 인증이 완료된 경우, 폼 제출 허용
				return true;
			} else {
				// 이메일 인증이 아직 완료되지 않은 경우, 폼 제출 금지
				alert("이메일 인증을 먼저 완료해야 합니다.");
				return false;
			}
		}


	</script>
</div>
	

</body>
</html>