<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_public}">

<head>


	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>
		상품정보
	</title>
	<link href="../../css/sidemenu.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
	<link href="../../css/used.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="../../resources/img/1694590687835.png">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />


</head>

<body>
	<div layout:fragment="content">
		<div class="all-container">
			<div class="retro-container">
				<div class="slideshow-container">

					<div th:each="productImgDto, status: ${used.usedImgList}">
						<div th:unless="${#strings.isEmpty(productImgDto.imgUrl)}">
							<div class="mySlides">
								<input type="hidden" name="productImgIds" th:value="${productImgDto.id}">

								<img class="product-image" th:src="${productImgDto.imgUrl}" width="500" height="500">

							</div>
						</div>
					</div>
					<button type="button" class="button2" onclick="product()">새 상품보기</button>
					<button type="button" class="button1"
						th:if="${username == used.orderProduct.order.user.username or username == 'admin'}"
						onclick="deleteUsed()">글삭제</button>
					<button type="button" class="button1"
						th:unless="${username == used.orderProduct.order.user.username or username == 'admin'}"
						onclick="unDeleteUsed()">글삭제</button>
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>

					<a class="next" onclick="plusSlides(1)">&#10095;</a>
				</div>


				<div class="used-title">



					<input type="hidden" id="idValue" th:value="${used.id}">
					<p class="retro-title" th:text="${used.title}">제목</p><br>
					<p class="retro-price" th:text="${used.price}+'원'">가격</p><br>

					<p class="retro-date" th:text="${used.content}">내용</p>
					<p class="retro-date" th:text="'거래장소 : '+${used.addr}">주소</p><br>
					<p class="retro-date" th:text="'작성일 : '+${#temporals.format(used.createDate, 'yyyy-MM-dd')}">작성일</p><br>

					<span class="retro-date"><b>구매 한 날짜:</b> </span><span class="retro-date1"
						th:text="${#temporals.format(used.orderProduct.order.orderDate, 'yyyy-MM-dd')}">주문 내역</span>
					

				</div>
			</div>

			<div class="content33">
				<p class="comment1">CONTENT</p>
				
			</div>

			<div class="comment-container">
				<!--
					댓글목록	
				-->
				<p class="comment">COMMENT</p>
				<div>
					<table>
						<div th:each="usedComment, index: ${used.usedCommentList}">
							<!-- 댓글영역 -->
							<div class="used-comment">
								<div>
									<span><img class="pro" th:src="@{/resources/img/pro.png}"></span>
									<span th:text="${usedComment.user.username}+''">유저이름</span>
								</div>

								<!--비밀글 로직-->
								<div th:if="${usedComment.isPrivate}">
									<!--
										비밀글 로직
										1. 조회유저 == 댓글등록유저
										2. 조회유저 == 글 등록유저
									-->
									<div th:unless="${username == usedComment.user.username or
										username == used.orderProduct.order.user.username}">
										<p class="secret">글 작성자와 댓글 작성자만 확인가능합니다</p>
									</div>
									<div th:if="${username == usedComment.user.username or
										username == used.orderProduct.order.user.username}">
										<p th:text="${usedComment.content}">내용</p>
									</div>
								</div>
								<div th:unless="${usedComment.isPrivate}">
									<!-- 비밀글이 아닌 경우 -->
									<p th:text="${usedComment.content}">내용</p>
								</div>


								<span th:text="${#temporals.format(usedComment.commentDate, 'yyyy-MM-dd HH:mm')}">
								</span>

								<!-- 답글 작성 버튼 -->
								<button type="button" th:id="${usedComment.id}" th:if="${username != null}"
									onclick="toggleCommentWrite(this)">답글</button>

							</div>

							<!-- 답글 영역 -->
							<div th:each="usedReply, index: ${usedComment.usedReplyList}">
								<div class="used-comment" style="background-color: #f2f2f2; margin-left: 20px;">
									<div>
										<span><img class="pro" th:src="@{/resources/img/pro.png}"></span>
										<span th:text="${usedReply.user.username}+''">유저이름</span>
									</div>

									<!--답글 비밀글 로직-->
									<div th:if="${usedReply.isPrivate}">
										<!--
											답글 비밀글 로직
											1. 조회유저 == 답글등록유저
											2. 조회유저 == 글 등록유저
											3. 조회유저 == 댓글등록유저
										-->
										<div th:unless="${username == usedReply.user.username or
											username == used.orderProduct.order.user.username or
											username == usedReply.usedComment.user.username}">
											<p class="secret">글 작성자와 댓글 작성자만 확인가능합니다</p>
										</div>
										<div th:if="${username == usedReply.user.username or
											username == used.orderProduct.order.user.username or
											username == usedReply.usedComment.user.username}">
											<p th:text="${usedReply.content}">내용</p>
										</div>
									</div>
									<div th:unless="${usedReply.isPrivate}">
										<!-- 비밀글이 아닌 경우 -->
										<p th:text="${usedReply.content}">내용</p>
									</div>

									<span th:text="${#temporals.format(usedReply.replyDate, 'yyyy-MM-dd HH:mm')}">
									</span>
								</div>
							</div>

							<!-- 답글 작성 영역 -->
							<div class="commentwrite" th:id="'commentwrite_' + ${usedComment.id}"
								style="display: none;">
								<span class="co-title" for="message">내용</span>
								비밀글<input type="checkbox" class="checkBox" th:id="'isPrivate_' + ${usedComment.id}"
									value="true">
								<input type="text" name="reply" th:id="'reply_content_' + ${usedComment.id}">
								<button class="buttons" th:id="'reply_button_' + ${usedComment.id}"
									onclick="reply(this)">답글쓰기</button>
							</div>

							<!-- 글 작성자, 댓글 작성자 외 유저 -->
							<!--
							<div class="used-comment" th:unless="${username == usedComment.user.username or username == used.orderProduct.order.user.username
										 or usedComment.user.username == used.orderProduct.order.user.username}">
								<div>
									<span><img class="pro" th:src="@{/resources/img/pro.png}"></span>
									<span th:text="${usedComment.user.username}+''">유저이름</span>
								</div>
								<p>글 작성자와 댓글 작성자만 확인가능합니다</p>

								<span th:text="${#temporals.format(usedComment.commentDate, 'yyyy-MM-dd HH:mm')}">
								</span>
							</div>
							-->


						</div>
					</table>
				</div>
				<!--
					댓글작성
				-->
				<div class="commentwrite" th:if="${username != null}">
					<span class="co-title" for="message">내용</span>
					비밀글<input type="checkbox" class="checkBox" id="isPrivate" name="isPrivate" value="true">
					<input type="text" name="content" id="content">

					<button class="buttons" onclick="comment()">댓글쓰기</button>

				</div>
			</div>
			<div class="waringmessage">
				<div class="text-form">
					<p>
					<h3 style="color: red; text-align: center;">거래 전 주의사항 안내</h3><br>
					판매자가 별도의 메신저로 결제링크를 보내거나 직거래(직접송금)을<br>
					유도하는 경우 사기일 가능성이 높으니 거래를 자제해 주시고<br>
					<p class="text11">HENRY IV 고객센터로 신고해주시기 바랍니다.</p>
				</div>
			</div>


			<div class="sidemenu">
				<ul>
					<li><a th:href="@{/public/usedList}">중고마켓</a></li>
					<li><a th:href="@{/protected/questionForm}">1:1문의</a></li>
					<li><a th:href="@{/protected/order}">주문조회</a></li>
				</ul>
				<ul>
					<li><a href="https://open.kakao.com/o/sdxxCZQf"><img class="kakao"
								th:src="@{/resources/img/kakao.PNG}"></a></li>

				</ul>
			</div>

			<script th:inline="javascript">
				$(document).ready(function () {
					var currentPosition = parseInt($(".sidemenu").css("top"));
					$(window).scroll(function () {
						var position = $(window).scrollTop();
						$(".sidemenu").stop().animate({ "top": position + currentPosition + "px" }, 600);
					});
				});

				function unDeleteUsed() {
					alert("글 삭제는 작성자만 가능합니다");
				}

				function reply(button) {
					// 버튼의 ID 얻기
					var buttonId = button.id;
					console.log("버튼의 ID: " + buttonId);

					var replyId = buttonId.split('_')[2];
					console.log("댓글 ID: " + replyId);

					// ID에서 답글 작성 영역의 ID 추출
					var commentWriteId = 'commentwrite_' + buttonId.split('_')[2];
					console.log("답글 작성 영역의 ID: " + commentWriteId);

					var contentId = 'reply_content_' + buttonId.split('_')[2];
					console.log("답글 내용 ID: " + contentId);

					var contentValue = $('#' + contentId).val();

					var isPrivateId = 'isPrivate_' + replyId

					var isPrivate = document.getElementById(isPrivateId).checked;


					var id = $("#idValue").val();
					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");
					var url = "/public/used/" + id + "/" + replyId;

					if (contentValue.trim() === "") {
						alert("답글 내용을 입력해주세요.");
					} else {
						$.ajax({
							url: url,
							type: "POST",
							beforeSend: function (xhr) {
								xhr.setRequestHeader(header, token);
							},
							dataType: "json",
							cache: false,
							data: {
								"content": contentValue,
								"isPrivate": isPrivate
							},
							success: function (result, status) {
								location.href = "/public/used/" + id;
							},
							error: function (jqXHR, status, error) {
								location.href = "/public/used/" + id;
							}
						});
					}
				}

				function toggleCommentWrite(button) {
					// 버튼의 ID에서 답글 작성 영역의 ID를 추출
					var commentWriteId = 'commentwrite_' + button.id;

					// 해당 답글 작성 영역을 토글
					$('#' + commentWriteId).toggle();
				}


				function product() {
					var productId = /*[[${used.orderProduct.product.id}]]*/ null;
					window.location.href = "/public/product/" + productId;
				}
				function deleteUsed() {
					var id = $("#idValue").val();

					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");

					var url = "/public/used/" + id;

					$.ajax({
						url: url,
						type: "DELETE",
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token);
						},
						dataType: "json",
						cache: false,
						success: function (result, status) {
							alert("글이 삭제되었습니다");
							window.location.href = "/public/usedList";
						},
						error: function (jqXHR, status, error) {
							alert(jqXHR.responseText);
						}
					});
				}

				function comment() {
					var isPrivate = document.getElementById("isPrivate").checked;
					var content = $("#content").val();
					var id = $("#idValue").val();

					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");

					var url = "/public/used/" + id + "/comment";

					if (content.trim() === "") {
						alert("댓글 내용을 입력해주세요.");
					} else {
						$.ajax({
							url: url,
							type: "POST",
							beforeSend: function (xhr) {
								xhr.setRequestHeader(header, token);
							},
							dataType: "json",
							cache: false,
							data: {
								"content": content,
								"isPrivate": isPrivate // isPrivate 값을 추가
							},
							success: function (result, status) {
								location.href = "/public/used/" + id;
							},
							error: function (jqXHR, status, error) {
								location.href = "/public/used/" + id;
							}
						});
					}
				}

				var slideIndex = 0;
				var totalPages = document.getElementsByClassName("mySlides").length; // 전체 슬라이드 수

				showSlides();


				function plusSlides(n) {
					slideIndex += n;
					showSlides();
				}


				function showSlides() {
					var i;
					var slides = document.getElementsByClassName("mySlides");

					if (slideIndex >= slides.length) {
						slideIndex = 0;
					} else if (slideIndex < 0) {
						slideIndex = slides.length - 1;
					}

					for (i = 0; i < slides.length; i++) {
						slides[i].style.display = "none";
					}

					slides[slideIndex].style.display = "block";
				}

			</script>
		</div>
	</div>
</body>

</html>