* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family:sans-serif;
  

}

.logo-png img {
    max-height: 80px;
    margin-left: 500px;

 
  }
.sign{
	font-size: 30px;
	text-align: center;
	margin-top:50px;
}
.id{
	text-align: left;
	width: 500px;
	
}
.pw{
	text-align: left;
	width: 500px;
}
.pwcheck{
		text-align: left;
	width: 500px;
}
.phone{
		text-align: left;
	width: 500px;
}

.textForm{
	    margin-top: 20px;
	width: 21%;
	margin-left: 40%;
	height: 510px;
border-top: 1px solid rgb(192, 192, 192);
border-left:1px solid rgb(192, 192, 192);
border-right:1px solid rgb(192, 192, 192);
border-bottom: 1px solid rgb(192, 192, 192);

}
.textForm1{
	    margin-top: 50px;
	width: 26%;
	margin-left: 37%;
	height: 510px;
border-top: 1px solid rgb(192, 192, 192);
border-left:1px solid rgb(192, 192, 192);
border-right:1px solid rgb(192, 192, 192);
border-bottom: 1px solid rgb(192, 192, 192);
}
input::placeholder {
  color: rgb(0, 0, 0);
  font-weight: bold;
   
}
.colored-letter{
	color: #FF0000; 
  font-weight: bold;
}
.use{
	margin-top:30px;
	  margin-left:580px;
}
.container-s {

        width: 350px;
        height: 140px;
        overflow: auto;
        margin-left:580px;
        text-align: center;
      }
body {
  background-image:#34495e;
}

.form-register {
  position:absolute;
  width:400px;
  height:400px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  
}



.form-register h2 {
  text-align: center;
  margin: 30px;
}


.emailform-control{
	  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
  margin-right:100px;
	
}
.emailform-control1{
	  width: 57%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
  margin-right:100px;
	
}
.verificationform-control{
	width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
  margin-right:100px;
	
}

.idform-control {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
  margin-right:100px;
}
.idform-control1 {
  width: 54%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
 padding: 10px 10px;
  margin-right:100px;
}

.pwform-control {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
}

.pwform-control1 {
  width: 49%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
}

.pwform-control2 {
  width: 41%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
}

/*.name {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}
.nickname {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}
*/
.pform-control {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
}
 .pform-control1 {
  width: 46%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
    border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
}
 
.sub {
  position:relative;
  left:40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width:25%;
  height:60px;
  background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
  margin-top : 50px;
  margin-left:160px;
}

.sub:hover {
  background-position: right;
}