		body {
			font-family: Arial, sans-serif;
			background-color: #f5f5f5;
		}

		.container-s {

			width: 350px;
			height: 140px;
			overflow: auto;

		}

		.text-form {
			width: 400px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}

		.sign {
			text-align: center;
			font-size: 24px;
			margin-bottom: 20px;
		}

		.textForm {
			padding: 10px;
		}

		.textForm input {
			width: 100%;
			padding: 10px;
			margin: 5px 0;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		.id button,
		.email button,
		.address button,
		.emailChk2 {
			background-color: rgb(192, 192, 192);
			color: #fff;
			border: none;
			cursor: pointer;
			padding: 10px 15px;
			margin-top: 5px;
			border-radius: 4px;
			width: 30%;
			font-size: 11px;
			float: right;
		}

		
		.emailChk2 {
			float: right;
			
		}



		.pwcheck #check {
			margin-top: 5px;
			font-weight: bold;
		}

		.phone input {
			width: 100%;
			padding: 10px;
			margin: 5px 0;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		.sub {
			background-color: rgb(0, 0, 0);
			color: #fff;
			border: none;
			cursor: pointer;
			padding: 10px 15px;
			margin-top: 10px;
			border-radius: 4px;

		}

		.use {
			text-align: center;
			margin-top: 20px;
			font-weight: bold;
		}

		.container-s {
			background-color: #fff;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			padding: 20px;
			margin-top: 10px;
		}
		