<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>고객센터</title>
</head>
<meta charset="UTF-8">

<body>


	
	
	<style>
		nav {
			display: flex;
			justify-content: center;
			background-color: #444;
			padding: 0.5em 0;
		}

		nav a {
			color: white;
			text-decoration: none;
			margin: 0 1em;
		}
	</style>
	<nav>
		<a href="qa.html">Q/A</a>
		<a href="#">문의하기</a>
		<a href="change.html">반품 및 교환</a>
	</nav>
	<div class="container">
		<h2>문의하기</h2>
		<p>궁금하신 사항을 입력해주세요.</p>
		<form class="contact-form">

			<label for="message">제목</label>
			<input type="message" id="message" name="message" required>

			<label for="name">이름</label>
			<input type="text" id="name" name="name" required>

			<label for="id">아이디</label>
			<input type="id" id="id" name="id" required>

			<label for="message">문의 내용</label>
			<textarea id="message" name="message" rows="4" required></textarea>

			<button type="submit">문의 보내기</button>
		</form>
	</div>




</body>

</html>