<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>membership</title>

</head>

<body>

	<!-- 홈페이지 헤더부분 -->
	
	<div th:fragment="header" class="header">
	
		<div class="nav1" style="border-bottom:solid">
			<div class="pad-container">
				
				<div class="pad7" onclick="location.href='/public/usedList'">중고마켓</div>
				<div class="pad8" onclick="location.href='/public/faqList'">고객센터</div>
				<button class="pad" sec:authorize="hasRole('ROLE_ADMIN')" onclick="location.href='/admin/product/new'">상품등록</button>
			</div>
			<a href="/">
				<div class="logo">
					<img src="../../resources/img/1694590687835.png" alt="로고 이미지">
				</div>
			</a>
			<div class="pad-container" sec:authorize="!isAuthenticated()">
				<div class="pad1" onclick="location.href='/public/register'">회원가입</div>
				<div class="pad2" >CART</div>
				<div class="pad3" onclick="location.href='/public/login'">LOGIN</div>
			</div>
			<div class="pad-container" sec:authorize="isAuthenticated()">
				
				<div ><span class="text"  sec:authentication="name"></span>님 환영합니다 </div>
				<div class="pad4" onclick="location.href='/protected/mypage'">MY PAGE
				</div>
				<div class="pad5" onclick="location.href='/protected/cart'">CART</div>
				<form th:action="@{/logout}" method="post">
					<button class="pad6" type="submit">LOGOUT</button>
				</form>
				
			</div>
			
		</div>
		<div class="category1">
			<nav >
				<a class="padd1"  th:href="@{/public/productList}">BEST50</a>
				<a class="padd2" th:href="@{/}">NEW</a>
				<a class="padd3" th:href="@{/public/productList?category=TOP}">상의</a>
				<a class="padd4" th:href="@{/public/productList?category=BOTTOM}">하의</a>
				<a class="padd5" th:href="@{/public/productList?category=T-SHIRTS}">반팔티</a>
				<a class="padd6" th:href="@{/public/productList?category=SHIRTS}">셔츠</a>
				<a class="padd7" th:href="@{/public/productList?category=OUTER}">아우터</a>
				<a class="padd8" th:href="@{/public/productList?category=SHOES}">신발</a>
				<a class="padd9" th:href="@{/public/productList?category=ACC}">ACC</a>
		</div>
		</nav>
		<script>
			function openNav() {
				document.getElementById("mySidenav").style.width = "250px";
			}

			function closeNav() {
				document.getElementById("mySidenav").style.width = "0";
			}
		</script>
	</div>
	
</body>

</html>