<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>membership</title>

</head>
<body>

    
    <!-- 홈페이지 헤더부분 -->
	<div th:fragment="header" class="header">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div class="nav" >
            <div class="pad-container">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                <div class="pad">BEST20</div>
                <div class="pad">중고마켓</div>
                <div class="pad">고객센터</div>
            </div>
            <a href="/">
                <div class="logo">
                    <img src="resources/img/{2CADF10F-D266-4361-B1DE-7940E64DA160}.png" alt="로고 이미지">
                </div>
            </a>
            <div class="pad-container">
                <div class="pad"><span sec:authentication="name">사용자</span> 님 환영합니다    </div>
                <div class="pad">CART</div>
                <div class="pad">LOGOUT</div>  
            </div>  
        </div>
        <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
            }
            
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </div>   
    

</body>
</html>